@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
   
  }

  
  

#button2{    
    width: 80px;
    height: 10px;
    border-radius: 2px;
    background-color: aqua;
}


#button2:hover{
    background-image:url(../icons/arrow_back.svg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 80px;   
    box-shadow: 5px 10px 10px rgb(175, 214, 121);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 0.9s;
    animation-direction: reverse;   

}

#button3{    
    width: 80px;
    height: 10px;
    border-radius: 2px;
    background-color: aqua;    
}


#button3:hover{
    background-image:url(../icons/arrow_forward.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;   
    box-shadow: 5px 10px 10px rgb(175, 214, 121);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 0.9s;
    animation-direction:normal;
    
}


#menu{
  display: none;  
}

#video{
  display: none;
}
  